doctype html
html
	head
		meta(charset='utf-8')
		title #{set.title}, database revision level: #{set.version}
		style.
			table {
				width: 100%;
				border-collapse: collapse;
			}
			th {
				background: #eee;
			}
			th, td {
				border: solid 1px #aaa;
				text-align: left;
				vertical-align: top;
				padding: 5px;
				white-space: pre-line;
			}
			.modified {
				float: right;
				font-weight: bold;
				margin-left: 5px;
			}
			.footer {
				padding-bottom: 60px;
				border-bottom: solid 1px #aaa;
				font-size: small;
			}
	body
		div
			table
				thead
					tr
						if ref !== -1
							th=data[0][ref]
						if target !== -1
							th=data[0][target]
						th ✓
				tbody
					each row, index in data.slice(2)
						if (row[ref] || row[target])
							tr
								if ref !== -1
									td
										//-if modified[index + 2][ref]
											.modified modified ✓
										=row[ref]
								if target !== -1
									td
										//-if modified[index + 2][target]
											.modified modified ✓
										=row[target]
								td ⬚

		div(style="page-break-inside: avoid; padding-top: 100px;")
			.footer(style="width: 20%; float: right;")
				| Date
			.footer(style="width: 65%;")
				| Test performed by (Name, Signature)

	script.
		print();
