extends pageLayout

block pageContent
	.buttons
		.checkbox.pull-right
			label
				input.button-show-deleted(type='checkbox', autocomplete='off')
				| Show deleted
		a.btn.btn-sm.btn-primary(href='/users/add') Add User
	h1 Users
	table
		thead
			tr
				th Name
				th Email
				th Notes
				th Commands
		tbody
			each u in users
				tr(class=u.deleted ? 'deleted' : '')
					td=u.name
					td=u.email
					td=u.notes
					td.commands
						if u.deleted
							a.btn.btn-sm.btn-default(href='/users/restore/' + u.id) Restore
						else
							a.btn.btn-sm.btn-default(href='/users/edit/' + u.id) Edit

							if !u.admin
								a.btn.btn-sm.btn-default(href='/users/admin/' + u.id + '?set=true') Make Admin
							else if loggedInUser.id === u.id
								a.btn.btn-sm.btn-warning.disabled(href='#') Unmake Admin
							else
								a.btn.btn-sm.btn-warning(href='/users/admin/' + u.id + '?set=false') Unmake Admin

							if loggedInUser.id === u.id
								a.btn.btn-sm.btn-danger.disabled(href='#') Delete
							else
								a.btn.btn-sm.btn-danger.confirm(href='/users/delete/' + u.id) Delete