extends layout

block content
	#translator(data-permissions=JSON.stringify(loggedInUser.permissions))
		#controls(style='visibility: hidden')
			#dropdown-set.btn-group
				button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
					span.value
					| 
					span.caret
				ul.dropdown-menu(role='menu')
					each s in sets
						li
							a(href='#', data-id=s.id)=s.title
			|  
			input#search.input-sm.form-control(type='search', placeholder='search', autocomplete='off')
			|  Reference: 
			#lang-ref.btn-group
				button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
					span.value
					| 
					span.caret
				ul.dropdown-menu(role='menu')
			|  Target: 
			#lang-target.btn-group
				button.btn.btn-default.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown')
					span.value
					| 
					span.caret
				ul.dropdown-menu(role='menu')
			|  
			button.button-add.btn.btn-sm.btn-default Add

		#user
			strong=loggedInUser.name
			a.btn.btn-sm.btn-danger(href='/logout') Sign Out
			| 
			a.btn.btn-sm.btn-default(href=loggedInUser.admin ? '/users' : ('/users/edit/' + loggedInUser.id)) Settings

		#scrollable-head(style='display:none')
		#scrollable(style='display:none')
		#loading(style='display:none')
			div
				div
					div
						div LOADING...
		
		#templates(style='display:none')
			#editor-template
				.editor
					.editor-controls
						button.btn.btn-xs.btn-danger.button-cancel cancel
						| 
						button.btn.btn-xs.btn-warning.button-undo(disabled) undo
						| 
						button.btn.btn-xs.btn-warning.button-redo(disabled) redo
						| 
						button.btn.btn-xs.btn-success.button-ok ok
					.editor-controls-key
						button.btn.btn-xs.btn-danger.button-delete delete
						| 
						button.btn.btn-xs.btn-default.button-add-above add
						| 
						button.btn.btn-xs.btn-default.button-move move
					textarea

			#firstcell-template
				.cell
					button.btn.btn-sm.btn-default.button-cancel-moving(style='display:none') cancel moving

			#counters-template
				.cell
					abbr(title='words') WR
					| : 
					span.counter-words
					br
					abbr(title='characters (no space)') CN
					| : 
					span.counter-chars
					br
					abbr(title='characters (with space)') CW
					| : 
					span.counter-allchars
					br
	
	!=scripts('translator')