extends layout

block content
	#page.hide-deleted
		#user
			strong=loggedInUser.name
			a.btn.btn-danger(href="/logout") Sign Out
			
		ul.nav.nav-pills
			if loggedInUser.admin
				each m in [['/', 'Translator'], ['/users', 'Users'], ['/sets', 'Sets'], ['/changes', 'Changes']]
					li(class=m[0] === currentLocation ? 'active' : '')
						a(href=m[0])=m[1]

		block pageContent

block scripts
	script(src="/scripts/scripts.js?" + timestamp)
